body
{

}

#app
{
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
#content
{
	position: realtive;
}
#content h1
{
	background: gray;
	padding: 0;
	padding: 6px 0;
	text-align: center;
	margin: 0;
	font-size: 17px;
}
#qrcode
{

}
#events
{
	
}