*
{
	font-family: 'Lato', sans-serif;
}
body,
html
{
	height: 100%;
	overflow: hidden;
}
body
{
	background: transparent;
}

#app
{
	position: absolute;
	transition: all 0.5s ease;
	width: 440px;
	height: 100%;
	background: rgb(52, 149, 209);
	color: #FFF;
	border-left: 1px solid #FFF;
	transform: rotate(-40deg);
	right: -661px;
	top: -267px;
	opacity: 0.7;
}
#app.visible
{
	transform: rotate(0deg);
	right: 0;
	top: 0;
}
#messages
{
	opacity: 1;
	transition: opacity 0.3s ease;
	font-size: 25px;
	transform: rotate(89deg);
	position: absolute;
	top: 38px;
	left: -12px;
}
#app.visible #messages
{
	opacity: 0;
}
#content
{
	position: relative;
	opacity: 1;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: auto;
}
#content h1
{
	padding: 0;
	padding: 6px 0;
	text-align: center;
	margin: 0;
	font-size: 54px;
	font-weight: 700;
}
#content h2
{
	padding: 0;
	padding: 6px 0;
	text-align: center;
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #FFF;
	padding: 0 0 15px 0;
}
#qrcode
{
	position: absolute;
	top: 140px;
	right: 0;
	height: 100%;
	text-align: center;
}
#qrcodeImage
{
	margin: 0 auto 20px auto;
	width: 256px;
	height: 256px;
}
#events
{

}
#events ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#events ul li
{
	overflow: auto;
	transition: background-color 0.25s ease;
	border-bottom: 1px solid #FFF;
	min-height: 88px;
}
#events ul li:hover,
#events ul li:active,
#events ul li.active
{
	background: rgb(45, 129, 190);
}
#events ul li.has-link
{
	cursor: pointer;
}
#events ul li.poll
{
	min-height: auto;
}
#events ul li.small
{
	min-height: 69px;
}
#events ul li .icon
{
	float: left;
	width: 20%;
	text-align: center;
	font-size: 48px;
}
#events ul li .data
{
	float: left;
	padding: 20px 0;
	width: 80%;
	position: relative;
}
#events ul li.small .data
{
	padding: 10px 0;
}
#events ul li .data h3
{
	margin: 0;
}
#events ul li .data.no-text h3
{
	margin-top: 11px;
}
#events ul li.small .data.no-text h3
{
	margin-top: 11px;
}
#events ul li .data h5
{
	margin: 0;
	position: absolute;
	left: -58px;
	top: 64px;
	font-size: 11px;
}
#events ul li.small h5
{
	display: none;
}
#events ul li .data p
{
	margin: 0;
}
#events ul li .data a
{
	color: #fff;
	font-size: 40px;
	position: absolute;
	right: 10px;
	top: 14px;
}
#events ul li .data ul.poll
{
	margin: 10px 10px 0 0;
	border: 1px solid #FFF;
	border-radius: 8px;
}
#events ul li .data ul.poll li
{
	padding: 25px 0 0 0;
	position: relative;
	background: transparent;
	min-height: auto;
}
#events ul li .data ul.poll li strong
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color: #FFF;
	padding: 3px 0 0 10px;
}
#events ul li .data ul.poll li span
{
	display: block;
	background: none;
	height: 20px;

}
#events ul li .data ul.poll li span span
{
	background: #FFF;
	min-width: 5%;
}
#events ul li .data ul.poll li span span span
{
	position: absolute;
	top: 3px;
	right: 6px;
	text-align: right;
	background: none;
}

#overview
{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 20px;
}
#debug
{
	color: red;
	padding: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
#beard
{
	position: absolute;
	z-index: 1337;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	top: 20%;
	left: 20%;
	width: 150px;
	height: 150px;
}
#tv
{
	height: 100%;
	width: 100%;
}