<!DOCTYPE html>
<html ng-app="smartGuide">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="SmartTVGuideTVApp"/>
        <title>SmartTVGuideTVApp</title>

        <!-- Google -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

        <!-- Bower js components -->
        <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-busy/dist/angular-busy.css" />

        <!-- Bower js components -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-socket-io/socket.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/jquery-qrcode/jquery.qrcode.min.js"></script>
        <script src="bower_components/Chart.js/Chart.js"></script>

        <!-- App -->
        <script src="js/debug.js"></script>
        <!-- <script src="js/tv.js"></script> -->
        <script src="js/app.js"></script>
        <script src="js/beardController.js"></script>
        <script src="js/debugController.js"></script>
        <script src="js/deviceManager.js"></script>
        <script src="js/jQuery.js"></script>
        <script src="js/socket.js"></script>
        <script src="js/streamController.js"></script>
        <script src="js/udid.js"></script>
        <link rel="stylesheet" type="text/css" href="css/smartGuide.css" />




    </head>
    <body>
      <div ng-controller="BeardController"
           id="beard"
           ng-show="beard.enabled"
           style="background-image: url(images/beard{{ beard.imageIndex }}.png);"
      >

      </div>
      <div id="debug" ng-controller="DebugController">
          <ul>
              <li ng-repeat="command in commands" ng-click="runCommand(command)">{{ command.event }}</li>
          </ul>
      </div>
      <div id="app">
          <div id="content" ng-controller="StreamController">
              <h1>SmartGuide</h1>
              <h2 ng-show="users.length != 1">Es sind {{ users.length }} Personen im Chat</h2>
              <h2 ng-show="users.length == 1">Es ist eine Person im Chat</h2>
              <div id="qrcode" ng-show="!connected">
                  <div id="qrcodeImage">

                  </div>
                  Bitte scanne diesen QR-Code mit einer App um dich mit diesem SmartTV zu verbinden.
              </div>
              <div id="events" ng-show="connected">
                  <ul>
                      <li
                          ng-repeat="entry in data"
                          ng-class="{
                              'active':   $index == selectedDataIndex,
                              'has-link': entry.link && entry.link.length > 0,
                              'poll':     entry.type == 'poll',
                              'small':    entry.type == 'joined' || entry.type == 'left'
                          }"
                          ng-show="eventsVisible || (entry.type != 'joined' && entry.type != 'left')"
                      >
                          <div class="icon">
                              <i class="fa fa-{{ entry.icon }}"></i>
                          </div>
                          <div
                              class="data"
                              ng-class="{
                                  'no-text':  !entry.text || entry.text.length == 0
                              }"
                          >
                              <h3>{{ entry.title }}</h3>
                              <h5>{{ entry.date | date:'hh:mm' }}</h5>
                              <p ng-show="entry.text && entry.text.length > 0">{{ entry.text }}</p>
                              <a ng-show="entry.link && entry.link.length > 0" href="{{ entry.link }}" target="_blank"><i class="fa fa-angle-right"></i></a>
                              <ul ng-show="entry.type == 'poll'" class="poll">
                                  <li ng-repeat="option in entry.options">
                                      <strong>{{ option.title }}</strong>
                                      <span><span><span>{{ option.votes }}</span></span></span>
                                  </li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </body>
</html>